<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <style>
  </style>
</head>

<body>
  <h1 style="text-align:center ;">
    Reactangle info:
  </h1>
  <div style="margin-left: auto; margin-right: auto; background-color:<%- rectangle.color %>;width:<%- rectangle.width %>px;height:<%- rectangle.height %>px"></div>
  <br>
  <div style="text-align: center;">
  <table style="border: black;width: 300; margin-left: auto; margin-right: auto;" border="2">
    <tr>
      <td><b>Name</b></td>
      <td><b><%- rectangle.name %></b></td>
    </tr>
    <tr>
      <td><b>Color</b></td>
      <td><b><%- rectangle.color %></b></td>
    </tr>
    <tr>
      <td><b>width</b></td>
      <td><b><%- rectangle.width %></b></td>
    </tr>
    <tr>
      <td><b>height</b></td>
      <td><b><%- rectangle.height %></b></td>
    </tr>
  </table>
  <br>
  <button id="delete">Delete</button>
  </div>
  <script>

    const button = document.getElementById('delete')
    button.addEventListener('click', async () => {
      const res = await fetch('/rectangles/<%- rectangle.id %>', {
        method: 'DELETE'
      })
      const json = await res.json()

      if (json.success) {
        window.location.href = '/database'
      }
    })
  </script>
</body>
</html>
